# Reference: https://github.com/openshift/assisted-service/blob/master/deploy/podman/configmap.yml
apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
    POSTGRESQL_DATABASE: installer
    POSTGRESQL_PASSWORD: password
    POSTGRESQL_USER: admin
    DB_HOST: 127.0.0.1
    DB_PORT: 5432
    DB_USER: admin
    DB_PASS: password
    DB_NAME: installer
    AUTH_TYPE: "none"
    DEPLOY_TARGET: onprem
    SKIP_CERT_VERIFICATION: true
    DUMMY_IGNITION: false
    ENABLE_SINGLE_NODE_DNSMASQ: true
    DISK_ENCRYPTION_SUPPORT: true
    PUBLIC_CONTAINER_REGISTRIES: "quay.io,registry-proxy.engineering.redhat.com"
    IMAGE_SERVICE_BASE_URL: http://< HOST IP >:8888
    INSTALL_RH_CA: true
    SERVICE_BASE_URL: http://< HOST IP >:8090
    ASSISTED_SERVICE_SCHEME: http
    ASSISTED_SERVICE_HOST: 127.0.0.1:8090
    LISTEN_PORT: "8888"
    STORAGE: filesystem
    OS_IMAGES: '[{"openshift_version": "4.11","cpu_architecture": "x86_64","url": "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/pre-release/latest-4.11/rhcos-live.x86_64.iso","rootfs_url": "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/pre-release/latest-4.11/rhcos-live-rootfs.x86_64.img","version": "410.84.202201261816-0"},{"openshift_version": "4.11","cpu_architecture": "arm64","url": "https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/pre-release/latest-4.11/rhcos-live.aarch64.iso","rootfs_url": "https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/pre-release/latest-4.11/rhcos-live-rootfs.aarch64.img","version": "410.84.202201261816-0"},{"openshift_version": "4.10","cpu_architecture": "x86_64","url": "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/4.10/4.10.3/rhcos-4.10.3-x86_64-live.x86_64.iso","rootfs_url": "https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/4.10/4.10.3/rhcos-4.10.3-x86_64-live-rootfs.x86_64.img","version": "410.84.202201261816-0"},{"openshift_version": "4.10","cpu_architecture": "arm64","url": "https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.10/4.10.3/rhcos-4.10.3-aarch64-live.aarch64.iso","rootfs_url": "https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.10/4.10.3/rhcos-4.10.3-aarch64-live-rootfs.aarch64.img","version": "410.84.202201261816-0"}]'
    RELEASE_IMAGES: '[{"openshift_version": "4.10", "cpu_architecture": "arm64", "url": "quay.io/openshift-release-dev/ocp-release:4.10.6-aarch64", "version": "4.10.6"},{"openshift_version": "4.11", "cpu_architecture": "arm64","url": "quay.io/openshift-release-dev/ocp-release:4.11.0-0.nightly-multi-2022-05-11-151437-aarch64", "version": "4.11.0"}, {"openshift_version": "4.11", "cpu_architecture": "x86_64", "url": "quay.io/openshift-release-dev/ocp-release:4.11.0-0.nightly-multi-2022-05-11-151437-x86_64", "version": "4.11.0"},{"openshift_version": "4.10","cpu_architecture": "x86_64","url": "quay.io/openshift-release-dev/ocp-release:4.10.6-x86_64","version": "4.10.6"}]'
    NTP_DEFAULT_SERVER: ""
    IPV6_SUPPORT: true
    HW_VALIDATOR_REQUIREMENTS: '[{"version":"default","master":{"cpu_cores":4,"ram_mib":16384,"disk_size_gb":120,"installation_disk_speed_threshold_ms":10,"network_latency_threshold_ms":100,"packet_loss_percentage":0},"worker":{"cpu_cores":2,"ram_mib":81$
    INSTALLER_IMAGE: "registry.redhat.io/rhai-tech-preview/assisted-installer-rhel8:v1.0.0-139"
    CONTROLLER_IMAGE: "registry.redhat.io/rhai-tech-preview/assisted-installer-reporter-rhel8:v1.0.0-184"
    AGENT_DOCKER_IMAGE: "registry.redhat.io/rhai-tech-preview/assisted-installer-agent-rhel8:v1.0.0-111"
    ALLOW_INSTALLER_RELEASE_IMAGE_OVERRIDE: true
