#!ipxe
set live_url http://{{ HTTP_URL | default(ansible_default_ipv4.address) }}/pxe
kernel ${live_url}/vmlinuz ignition.config.url=${live_url}/config.ign ignition.firstboot  ignition.platform.id=metal  coreos.live.rootfs_url=${live_url}/rootfs.img console=tty0 console=ttyS0,115200 initrd=main
initrd --name main ${live_url}/initrd.img
boot